:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow: 0 4px 8px #0008;
    --default-padding: 0 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

body{
  font-family: "Poppins", sans-serif;

}

header{
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding)
}

menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li{
    transition: .5s;
    padding: 4px 8px;

}

header li:hover{
    box-shadow: 0 6px 8px #333;
    background-color:  var(--secundary-color);
    box-shadow: var(--default-shadow);
}

.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}



main{
    background-color: #fef2e7;
}

section{
    height: 100vh;
}

.home{
    background-color: #FEF2E7;
    background-image: url(./img/background.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.cardapio{
    background-color: #ffffff;
}

.servicos{
    background-color: #FEF8F2;
}

footer{
    background-color: #f07807;
    height: 526px;
}